.site__title {
    font-size: 1.75rem; }
    .site__title a {
      word-wrap: normal; }
      
@media (min-width: 992px){
    .layout-reverse .content {
        max-width: 44rem;
    }
}

body.dark-mode {
    background-color: rgb(45, 45, 45);
    color: #f5f5f5;
}